node_modules
.next
.git
.env
.env.local
.env.*.local
data/*.db
data/*.db-wal
data/*.db-shm
data/uploads/*
*.log
npm-debug.log*
.DS_Store
Thumbs.db
*.md
!README.md
backup-dont-delete
docs
.vscode
*.bat
